body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    border: solid;
    border-color: black;
    border-width: 0.5px;
    display: flex;
}

.squares,
.blackSquare {
    height: 16px;
    width: 16px;
    border: solid;
    border-color: black;
    border-width: 0.5px;
}

.blackSquare {
    background-color: black;
}


