body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    border: solid;
    border-color: black;
    border-width: 0.5px;
    width: 800px;
    height: 800px;
    display: inline-flex;
}

.columns {
    display: inline;
    flex: 1 1 0%;
}

.squares,
.blackSquare {
    border: solid;
    border-color: black;
    border-width: 0.5px;
    aspect-ratio: 1 / 1;
}

.blackSquare {
    background-color: black;
}


