body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: orange;
}

@font-face {
    font-family: 'damagePlan';
    src: url(./font/DAMAGEPLAN\ PERSONAL\ USE.ttf);
}

#header {
    font-family: 'damagePlan';
    font-size: 75px;

}

.container {
    border: solid;
    border-color: black;
    border-width: 0.5px;
    width: 480px;
    height: 480px;
    display: inline-flex;
    background-color: grey;
    box-shadow: 10px 10px 18px 10px black;
}

.columns {
    display: inline;
    flex: 1 1 0%;
}

.squares,
.blackSquare {
    border: solid;
    border-color: black;
    border-width: 0.5px;
    aspect-ratio: 1 / 1;
}

.blackSquare {
    background-color: black;
}


